{% extends 'base.html' %}

{% block main %}
<div class="d-flex justify-content-center">
    <div class="card col-4 mb-4 mt-4">
        <div class="card-body">
            <h2 class="text-center">Создать аккаунт</h2>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-dark" type="submit">Зарегистрироваться</button>
            </form>
            <a href="{% url 'login' %}">Уже есть аккаунт? Войти</a>
        </div>
    </div>
</div>
<div>
    <div style="margin-top: 310px;"></div>
</div>
{% endblock main %}